<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\srikanth\OneDrive\Documents\elusionx\WebPackage-rtoav1</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ElusionX_ProdDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=ElusionX_ProdDB;Persist Security Info=True;User ID=sa;Password=Password@123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ElusionX.Web.DataModel.ElusionX_ProdDBEntities, ElusionX.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="proddbconnection" Order="4" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=ElusionX_ProdDB;Integrated Security=False;User ID=sa;Password=Password@123;Connect Timeout=120;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=ElusionX_ProdDB;Integrated Security=False;User ID=sa;Password=Password@123;Connect Timeout=120;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\proddbconnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Database=ElusionX_ProdDB;Integrated Security=False;User ID=sa;Password=Password@123;Connect Timeout=120;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="oadbconnection" Order="5" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=ElusionX_OADB;Integrated Security=False;User ID=sa;Password=Password@123;Connect Timeout=120;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=ElusionX_OADB;Integrated Security=False;User ID=sa;Password=Password@123;Connect Timeout=120;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\oadbconnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Database=ElusionX_OADB;Integrated Security=False;User ID=sa;Password=Password@123;Connect Timeout=120;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="dwconnection" Order="6" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=ElusionX_DW;Integrated Security=False;User ID=sa;Password=Password@123;Connect Timeout=120;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=ElusionX_DW;Integrated Security=False;User ID=sa;Password=Password@123;Connect Timeout=120;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dwconnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Database=ElusionX_DW;Integrated Security=False;User ID=sa;Password=Password@123;Connect Timeout=120;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="oadbconnection_oltp" Order="7" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=ElusionX_OADB;Persist Security Info=True;User ID=OLTPUser;Password=Passw0rd1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=ElusionX_OADB;Integrated Security=False;User ID=OLTPUser;Password=Passw0rd1;Connect Timeout=120;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\oadbconnection_oltp_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Database=ElusionX_OADB;Integrated Security=False;User ID=OLTPUser;Password=Passw0rd1;Connect Timeout=120;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="oadbconnection_rtoa" Order="8" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=ElusionX_OADB;Persist Security Info=True;User ID=RTOAUser;Password=Passw0rd1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=ElusionX_OADB;Integrated Security=False;User ID=RTOAUser;Password=Passw0rd1;Connect Timeout=120;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\oadbconnection_rtoa_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Database=ElusionX_OADB;Integrated Security=False;User ID=RTOAUser;Password=Passw0rd1;Connect Timeout=120;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dwconnection-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=ElusionX_DW;Integrated Security=False;User ID=sa;Password=Password@123;Connect Timeout=120;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ElusionX_ProdDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataModel.Elusionx.csdl|res://*/DataModel.Elusionx.ssdl|res://*/DataModel.Elusionx.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.;Initial Catalog=ElusionX_ProdDB;Persist Security Info=True;User ID=sa;Password=Password@123"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)oadbconnection-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=ElusionX_OADB;Integrated Security=False;User ID=sa;Password=Password@123;Connect Timeout=120;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)oadbconnection_oltp-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=ElusionX_OADB;Persist Security Info=True;User ID=OLTPUser;Password=Passw0rd1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)oadbconnection_rtoa-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=ElusionX_OADB;Persist Security Info=True;User ID=RTOAUser;Password=Passw0rd1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)proddbconnection-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=ElusionX_ProdDB;Integrated Security=False;User ID=sa;Password=Password@123;Connect Timeout=120;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>